<div ms-controller="layout.index.index.vm" id="layout_index_index">
    
    <div ms-include-src="view.header"></div>

    <div class="content">
      <div ms-include-src="view.banner"></div>
      <div class="content-padded">
        <h4 class="loan-title">投资新项目周转100万续借最后一标25万</h4>
        <h4 class="loan-money">￥<i class="red">250,000</i></h4>
      </div>
      <div class="ouro-bg">
        <div class="ouro">
        <span class="ouro-text">
          <p><i>100</i>%</p>
          <p class="ouro-m">完成度</p>
        </span>
        </div>
      </div>

      <div class="segmented-control">
        <a class="control-item">
          <span class="item-name">年利率</span>
          <span class="tab-label">21%</span>
        </a>
        <a class="control-item">
          <span class="item-name">期限</span>
          <span class="tab-label">12个月</span>
        </a>
        <a class="control-item">
          <span class="item-name">剩余时间</span>
          <span class="tab-label">2天10小时</span>
        </a>
      </div>
      <a href="##" class="btn btn-negative btn-block">查看详情</a>
    </div>
</div>